@import url("https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cossette Titre', 'Roboto', sans-serif;
}

body {
    background-color: rgb(156, 156, 156);
    min-height: 100vh;
    display: block; 
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
}

.container {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}