@import url("https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cossette Titre', 'Roboto', sans-serif;
}


body {
    background-color: rgb(78, 4, 107);
    padding-top: 120px;
    display: block; 
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(116, 25, 219, 0.829);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(74, 0, 88, 0.822); 
}
.logo img {
    height: 100px; 
    width: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
    transition: color 0.3s;
    position: relative;
}

.nav-links li a:hover {
    color: #666;
}
.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}


.container {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}